/*Estilos plantilla*/
.agregar_u{
	border-radius: 10%;
}
.alert{
	display: none;
}

.btn_menu{
	padding: 20px 10px;
}

.check{
	background-color: #dff0d8;
}

.no-check{
	background-color: #f2dede;
}

.no-item{
	background-color: #ebebeb;
}

.th-blue{
	background-color: #337ab7;
	color: #FFF;
}

.th-transfer-e{
	background-color: #2aabd2;
	color: #FFF;
}

.th-transfer-o{
	background-color: #eb9316;
	color: #FFF;
}

#login{
	padding: 8em 3em;
}

#t_entrada, #t_salida{
	border-radius: 50%;
}